<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AHA Lab Assessment</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
        p {
            margin-top: 2.5rem;
            margin-bottom: .8rem;
            font-size: 1.05em;
            font-weight: 900;
            color: rgb(90, 90, 90);
        }
        
        ul li {
            margin-bottom: .8rem;
            line-height: 1.2rem;
        }
    </style>
</head>

<body style="background-color: #f1f4f9;">
    <div class="header-top"></div>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/people">People</a>
            <a href="/research">Research</a>
            <a href="/publication">Publication</a>
            <a href="/software">Software(CAT/BNAs)</a>
            <a href="/assessment" class='selected'>Assessment</a>
            <a href="/consulting">Consulting</a>
        </nav>
        <div class="yellow-line"></div>
        <div class="title-markers">
            <img src="/img/aha-logo.png" alt="AHA LAB LOGO" class="title-logo">
            <div class="title-text">LAB ASSESSMENT</div>
        </div>
    </header>
    <div style="height:100vh; position:fixed; top:0; right:0; width:7vw; background-color: rgba(148, 225, 255, 0.3);"></div>

    <main>
        <div style="display: flex; justify-content:center; flex-wrap: wrap; margin-top:8vh">
            <div style="height: 1rem; width:15rem"></div>
            <div style="max-width:700px">
                <p>1. ECD (Evidence Centered Design Framework)</p>
                <img src="/img/ecd.png" alt="ECD" style="height: auto; width: 80%; margin-left: 10%" class="z-depth-1 responsive-img" />
                <p>2. Validation Scale Test</p>
                <ul>
                    <li>Oh, H., Park, K., <b>Choi, Y.</b>, Choi, G, Kim, Y, Lee, S. (2018). Screening Tool for Anxiety Disorders: Development and Validation of the Korean Anxiety Screening Assessment. Psychiatry Investigation</li>
                    <li>윤서원, 이빛나, 박기호, 정수연, 김신향, 박연수, 김초롱, 이원혜, 이승환, 최기홍, <b>최윤영</b> (2018). Development of Korean Depression Screening Assessment: Phase II Preliminary Validation Study. Korean Journal of Clinical Psychology, 37(2), </li>
                    <li><b>최윤영</b>, 신주연(2018) .학업크래프팅 척도 타당화: 온라인과 오프라인 대학생을 중심으로. Journal of Educational Technology, 34(1), 73-99. </li>
                    <li>신주연, <b>최윤영</b> (2018). 한국판 학업의미척도 타당화 연구: 국내 대학생들을 대상으로. 한국심리학회지: 학교, 15(1), 1-26.</li>
                    <li><b>최윤영</b>, 서동기, 정선호 (2018). 컴퓨터기반 교육시스템의 인식론적 프레임 학습을 위한 이론모형구축와 평가도구 개발. 18(3). 한국콘테츠학회논문지.</li>
                    <li><b>최윤영</b>, 서동기 (2018). 인식론적 프레임 학습을 위한 컴퓨터 기반 교육프로그램 프로토타입 개발: 학습분석 중심으로. 9(3). Journal of the Korea Convergence Society(융합학회지). 9(3), 23-29.</li>
                    <li>김신향, 박시호, 제갈은주, 이원혜, 이승환, 최기홍, <b>최윤영</b> (2017). 한국형 우울장애 선별도구의 개발: 예비타당화연구 중심, Korean Journal of Clinical Psychology, 16(4),</li>
                    <li><b>Choi, Y.</b>, Depiper, J., Jones, T., Nishio, M., Campbell, P., Smith T., Conant, D., Rust, A., Griffin, M. (2014). The Relationship Between Teachers’ Mathematical Content and Pedagogical Knowledge, Teachers’ Perceptions, and Student
                        Achievement. Journal for Research in Mathematics Education. 45(4).</li>
                    <li><b>최윤영</b>, 이경랑, 김수정(2012). 영어 강의 능력을 평가하기 위한 평가도구 개발: 타당도, 신뢰도, 문항의 질 검증. 외국언어교육, 19(3). </li>
                    <li>MacGregor, D., & <b>Choi, Y.</b> (2011). A technical report of ACCESS (Assessing Comprehension and Communication in English State-to-State for English Language Learners) for ELLs: Center of Applied Linguistics.</li>
                    <li>Rutstein, D., <b>Choi, Y.</b>, and Lui, J. (2010, May). Evidence Centered Design of Simulation Based Assessment: A Case Study of Packet Tracer. Cisco System Inc.: Cisco Networking Academy W</li>
                </ul>
            </div>
        </div>
        <footer>
            <div>Tel : 010-3387-2271</div>
            <div>Email : yountoto@gmail.com</div>
        </footer>
    </main>
</body>

</html>