<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AHA Lab Assessment</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
        p {
            margin-top: 2.5rem;
            margin-bottom: .8rem;
            font-size: 1.05em;
            font-weight: 900;
            color: rgb(90, 90, 90);
        }
        
        ul li {
            margin-bottom: .8rem;
            line-height: 1.2rem;
        }
    </style>
</head>

<body style="background-color: #f1f4f9;" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <div class="header-top"></div>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/people">People</a>
            <a href="/research-publication">Research&Publication</a>
            <a href="/software">Software</a>
            <a href="/assessment">Assessment</a>
            <a href="/consulting">Consulting</a>
            <a href="/board" class='selected'>Board</a>
        </nav>
        <div class="yellow-line"></div>
        <div class="title-markers">
            <img src="/img/aha-logo.png" alt="AHA LAB LOGO" class="title-logo">
            <div class="title-text">LAB ASSESSMENT</div>
        </div>
    </header>
    <div class="blue-line" style="height:100vh; position:fixed; top:0; right:0; width:7vw; background-color: rgba(148, 225, 255, 0.3);"></div>

    <main>
        <div style="display: flex; justify-content:center; flex-wrap: wrap; margin-top:8vh">
            <div style="height: 1rem; width:15rem"></div>
            <div style="max-width:700px">
                <% if (isLoggedIn) { %>
                    <button onclick="onBoardCreateClicked()">새 항목 추가하기</button>
                    <% } %>
                        <% for (i in boards) { %>
                            <div>
                                <a href="<%= boards[i].url %>">
                                    <%= boards[i].url %>
                                </a>
                                <div>
                                    <%= boards[i].comment %>
                                </div>
                            </div>
                            <% } %>
            </div>
        </div>
        <footer>
            <div>Tel : 010-3387-2271</div>
            <div>Email : yountoto@gmail.com</div>
        </footer>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/scripts/onBoardCreateClicked.js"></script>
</body>

</html>