<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AHA Lab Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
        ul {
            padding-left: 1rem;
        }
    </style>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <div class="header-top"></div>
    <header>
        <nav>
            <a href="/" class='selected'>Home</a>
            <a href="/people">People</a>
            <a href="/research-publication">Research&Publication</a>
            <a href="/software">Software</a>
            <a href="/assessment">Assessment</a>
            <a href="/consulting">Consulting</a>
            <a href="/board">Board</a>
        </nav>
        <div class="yellow-line-home"></div>
    </header>
    <main>
        <div style="
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          height: 73vh;
        ">
            <img src="/img/aha-logo.png" alt="AHA LAB LOGO" style="width: 16rem" onclick="onLoginClicked()" />
            <div style="font-size: 1.75rem; font-family:Myraid-Bold; text-align:center; margin-top:2rem; padding-bottom:5vh"><span class="title-accent">A</span>rtificial intelligence <span class="title-accent">H</span>umanitarian <span class="title-accent">A</span>ssessment </div>
        </div>
        <div style="min-height: 40vh">
            <div>
                <h3>Upcoming Events</h3>
                <ul>
                    <li>
                        <b>Workshop</b> (2020. 10. 23): Network Analysis, presented by Younyoung Choi
                    </li>
                    <li>
                        <b>CADT</b> (<b>C</b>omputerized <b>A</b>daptive
                        <b>D</b>iagnostics <b>T</b>esting)
                    </li>
                    <li><b>DBNs</b> (<b>D</b>ynamic <b>B</b>ayesian <b>N</b>etwork)</li>
                    <li><b>ML</b> (Application for <b>M</b>achine <b>L</b>earnings)</li>
                </ul>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/scripts/onLoginClicked.js"></script>
</body>

</html>