* {
    margin: 0;
    font-family: "My-Font";
}

table,
tbody,
tr,
th,
td {
    border: 0;
    font-size: 100%;
    font: inherit;
    text-align: left;
}

table {
    border-collapse: collapse;
    min-width: 700px;
    overflow: hidden
}

.table-parent {
    overflow-x: scroll;
}

.table-parent::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

.table-parent::-webkit-scrollbar-thumb {
    background-color: #7e7e7e;
    border-radius: 10px;
}

.table-parent::-webkit-scrollbar-track {
    background-color: white;
}

tr {
    border-bottom: .5px solid #b9bcc1;
    border-top: .5px solid #b9bcc1;
}

th,
td {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: .5rem;
    padding-left: .5rem;
    line-height: 1.5rem;
    min-width: 4.5rem;
    word-break: keep-all;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    border-bottom: 1px solid rgb(65, 65, 65);
    line-height: 2rem;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 9rem;
    padding-right: 9rem;
}

a {
    text-decoration: none;
    color: rgb(90, 90, 90);
}

nav a {
    padding-left: 1rem;
    padding-right: 1rem;
}

nav a.selected {
    font-weight: 900;
}

header {
    position: relative;
    height: 18vh;
    width: 100%;
    margin: 0;
}

main {
    min-width: 800px;
}

footer {
    width: 100%;
    padding: 2rem;
    text-align: center;
    margin-top: 5rem;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
    margin-left: 0;
}

textarea {
    resize: none;
    min-height: 15vh;
    border: 1px solid rgb(156, 156, 156);
}

input,
textarea {
    background-color: transparent;
    transition: .5s;
    width: 500px;
}

input {
    border: none;
    border-bottom: 1px solid rgb(156, 156, 156);
    padding-top: .7rem;
    padding-bottom: .7rem;
    display: block;
}

input:focus,
textarea:focus {
    outline: none;
    border-bottom: 1px solid black;
}

label {
    width: 100%;
    display: block;
    color: #7e7e7e;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

input[type="submit"] {
    width: 6em;
    margin-top: 3vh;
    border: 1px solid black;
}

.yellow-line {
    z-index: -1;
    width: 55vw;
    position: absolute;
    left: 0;
    bottom: -0.9rem;
    border-bottom: .8rem solid #fff2b0;
}

.yellow-line-home {
    width: 1000px;
    height: 0.8rem;
    background-color: #fff2b0;
    position: absolute;
    bottom: -0.9rem;
    left: 50%;
    transform: translate(-50%, 0)
}

.title-markers {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-30rem, 0);
    z-index: -1;
}

.title-logo {
    width: 110px;
    margin-bottom: -6px;
}

.title-text {
    font-size: 1.4em;
    margin-top: auto;
    margin-bottom: -6px;
    font-weight: 900;
    font-family: Myraid-Bold;
    margin-left: 1.2rem;
    color: rgb(55, 55, 55);
}

.header-top {
    width: 100%;
    height: 10vh;
}


/* 한국어 폰트 - 나눔 고딕 */

@font-face {
    font-family: "My-Font";
    src: url("../fonts/NanumGothic-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Myraid-Bold";
    src: url("../fonts/Myriad-Pro-Black_31623.ttf") format("truetype");
    font-style: normal;
}


/*  영어 폰트 - myraid */

@font-face {
    font-family: "My-Font";
    src: url("../fonts/Myriad-Pro-Semibold_31650.ttf") format("truetype");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: "My-Font";
    src: url("../fonts/Myriad-Pro-Light_31642.ttf") format("truetype");
    unicode-range: U+0041-005A, U+0061-007A;
    font-style: normal;
}

.main-titles {
    font-weight: 900;
    font-size: 1.1em;
    margin-bottom: .5rem;
}

.main-divs {
    margin-bottom: 1rem;
}

@media(min-height:800px) {
    .main-divs,
    footer {
        font-size: 1.1rem;
    }
}

@media(max-width:900px) {
    .title-markers {
        left: 0;
        transform: translate(0, 0)
    }
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header {
        height: 40vh;
    }
    .header-top {
        height: 0;
    }
    .yellow-line-home {
        width: 100%;
    }
    main {
        width: 100%;
        min-width: 0;
    }
    input,
    textarea {
        width: 100%;
    }
}